<template>
    <app-layout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                <span v-if="post">Editing {{ post.title }}</span>
                <span v-else>Create new post</span>
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div
                    class="
                        bg-white
                        overflow-hidden
                        shadow-xl
                        sm:rounded-lg
                        px-3
                        py-4
                    "
                >
                    <div class="flex flex-wrap">
                        <div class="w-full">
                            <label class="block mb-1" for="formGridCode_card"
                                >Title</label
                            >
                            <input
                                v-model="form.title"
                                class="
                                    w-full
                                    h-10
                                    px-3
                                    text-base
                                    placeholder-gray-600
                                    border
                                    rounded-lg
                                    focus:shadow-outline
                                "
                                type="text"
                                id="formGridCode_card"
                            />
                            <br />

                            <label class="text-sm text-red-600">
                                {{
                                    $page.props.errors &&
                                    $page.props.errors.title
                                        ? $page.props.errors.title
                                        : ""
                                }}
                            </label>
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <div class="w-full">
                            <label class="block mb-1" for="form-body"
                                >Content</label
                            >
                            <textarea
                                v-model="form.body"
                                class="
                                    w-full
                                    px-3
                                    text-base
                                    placeholder-gray-600
                                    border
                                    rounded-lg
                                    focus:shadow-outline
                                "
                                type="text"
                                id="form-body"
                            ></textarea>
                            <br />
                            <label class="text-sm text-red-600">
                                {{
                                    $page.props.errors &&
                                    $page.props.errors.body
                                        ? $page.props.errors.body
                                        : ""
                                }}
                            </label>
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <div class="w-full">
                            <button
                                @click="submit"
                                class="
                                    h-10
                                    px-5
                                    m-2
                                    text-indigo-100
                                    transition-colors
                                    duration-150
                                    bg-indigo-700
                                    rounded-lg
                                    focus:shadow-outline
                                    hover:bg-indigo-800
                                "
                            >
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import { defineComponent } from "vue";
import AppLayout from "@/Layouts/AppLayout.vue";
import Welcome from "@/Jetstream/Welcome.vue";
import { Inertia } from "@inertiajs/inertia";

export default defineComponent({
    props: {
        post: Object,
        errors: Object,
    },
    components: {
        AppLayout,
        Welcome,
    },
    data() {
        return {
            form: {
                title: "",
                content: "",
            },
        };
    },
    methods: {
        submit() {
            if (this.post) {
                Inertia.put(`/posts/${this.post.id}`, this.form);
            } else {
                Inertia.post(`/posts`, this.form);
            }
        },
    },
    mounted() {
        console.log(this.errors);
        if (this.post) {
            this.form.title = this.post.title;
            this.form.body = this.post.body;
        }
    },
});
</script>
