<template>
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div
                class="
                    py-2
                    align-middle
                    inline-block
                    min-w-full
                    sm:px-6
                    lg:px-8
                "
            >
                <div
                    class="
                        shadow
                        overflow-hidden
                        border-b border-gray-200
                        sm:rounded-lg
                    "
                >
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th
                                    scope="col"
                                    class="
                                        px-6
                                        py-3
                                        text-center text-xs
                                        font-medium
                                        text-gray-500
                                        uppercase
                                        tracking-wider
                                    "
                                >
                                    ID
                                </th>
                                <th
                                    scope="col"
                                    class="
                                        px-6
                                        py-3
                                        text-center text-xs
                                        font-medium
                                        text-gray-500
                                        uppercase
                                        tracking-wider
                                    "
                                >
                                    Title
                                </th>
                                <th
                                    scope="col"
                                    class="
                                        px-6
                                        py-3
                                        text-center text-xs
                                        font-medium
                                        text-gray-500
                                        uppercase
                                        tracking-wider
                                    "
                                >
                                    Created by
                                </th>
                                <th
                                    scope="col"
                                    class="
                                        px-6
                                        py-3
                                        text-center text-xs
                                        font-medium
                                        text-gray-500
                                        uppercase
                                        tracking-wider
                                    "
                                >
                                    Created at
                                </th>

                                <th
                                    v-if="user"
                                    class="
                                        px-6
                                        py-3
                                        text-center text-xs
                                        font-medium
                                        text-gray-500
                                        uppercase
                                        tracking-wider
                                    "
                                >
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody
                            class="
                                bg-white
                                divide-y divide-gray-200
                                text-center
                            "
                        >
                            <tr v-for="post in posts">
                                <td class="px-6 py-4 whitespace-nowrap">
                                    {{ post.id }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">
                                        {{ post.title }}
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div class="ml-4">
                                            <div
                                                class="
                                                    text-sm
                                                    font-medium
                                                    text-gray-900
                                                "
                                            >
                                                {{
                                                    post &&
                                                    post.user &&
                                                    post.user.name
                                                        ? post.user.name
                                                        : ""
                                                }}
                                            </div>
                                            <div class="text-sm text-gray-500">
                                                {{ post.user.email }}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <span
                                        class="
                                            px-2
                                            inline-flex
                                            text-xs
                                            leading-5
                                            font-semibold
                                        "
                                    >
                                        {{ post.formatted_date }}
                                    </span>
                                </td>
                                <td
                                    v-if="user"
                                    class="
                                        px-6
                                        py-4
                                        whitespace-nowrap
                                        text-center text-sm
                                        font-medium
                                        text-indigo-600
                                        hover:text-indigo-900
                                    "
                                >
                                    <inertia-link
                                        :href="`/posts/${post.id}/edit`"
                                        >Edit</inertia-link
                                    >
                                    |
                                    <a href="#" @click="del(post.id)">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { defineComponent } from "vue";
import { Link } from "@inertiajs/inertia-vue3";
import { Inertia } from "@inertiajs/inertia";

export default {
    props: {
        posts: Array,
        user: Array,
    },
    components: {},
    mounted() {},
    methods: {
        del(id) {
            const r = confirm(`Are you sure to delete this post?`);
            if (r == true) {
                Inertia.delete(`/posts/${id}`);
            }
        },
    },
};
</script>
