<template>
    <app-layout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                List of Post
            </h2>
        </template>

        <div class="pt-5" v-if="user">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div
                    class="
                        bg-white
                        overflow-hidden
                        shadow-xl
                        sm:rounded-lg
                        px-4
                        py-4
                    "
                >
                    <inertia-link
                        :href="`/posts/create`"
                        class="
                            h-10
                            px-5
                            py-2
                            m-2
                            text-indigo-100
                            transition-colors
                            duration-150
                            bg-indigo-700
                            rounded-lg
                            focus:shadow-outline
                            hover:bg-indigo-800
                        "
                        >Create Post</inertia-link
                    >
                </div>
            </div>
        </div>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <Table :posts="lists" :user="user" />
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import { defineComponent } from "vue";
import AppLayout from "@/Layouts/AppLayout.vue";
import Table from "./Post/Table";

export default {
    props: {
        lists: Array,
        user: Array,
    },
    components: {
        AppLayout,
        Table,
    },
    methods: {},
    mounted() {},
};
</script>
